@use "../abstracts/" as *;

.service-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 75%;
  padding: 4rem 0rem;
  gap: 2rem;
  text-align: center;

  &__heading {
    font-family: $font-fraunces;
    font-weight: $fw900-fraunces;
    font-size: 2rem;
  }

  &__text {
    font-family: $font-barlow;
    color: $n-grayish_blue-dark;
    padding-bottom: 2rem;
  }

  &__link {
    font-family: $font-fraunces;
    font-weight: $fw900-fraunces;
    font-size: $fs-body;
    position: absolute;
    top: -1rem;
    left: 1rem;
  }
}

.services {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;

  > picture {
    grid-area: 1 / 1 / 3 / 3;
  }

  .infoBox {
    grid-area: 2 / 1 / 3 / 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    padding: 0 1.5rem;
    
    &__title {
      font-family: $font-fraunces;
      font-weight: $fw900-fraunces;
      font-size: 1.6rem;
      text-align: center;
    }
  
    &__text {
      font-family: $font-barlow;
      font-size: $fs-body;
      text-align: center;
    }

  }

}

.services-graphic {
  // background-image: url("../../images/desktop/image-graphic-design1.jpg");
  // background-size: cover;
  // background-position: center;
  // background-repeat: no-repeat;
  color: $p-cyan-dark-desaturated;
}

.services-photography {
  // background-image: url("../../images/desktop/image-photography1.jpg");
  // background-size: cover;
  // background-position: center;
  // background-repeat: no-repeat;
  color: $p-dark_blue;
}

.testimonials {
  padding: 10rem 0rem;
  
  &__heading {
    text-align: center;
    padding-bottom: 8rem;
    font-size: 1.2rem;
    color: $n-grayish_blue;
    font-family: $font-fraunces;
    letter-spacing: 0.3rem;
  }
  
  &__container {
    display: grid;
    gap: 8rem;
  }
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__img {
    width: 20%;
    height: auto;

    > img {
      border-radius: 50%;
    }
  }

  &__text {
    text-align: center;
    padding: 3rem 2rem;
    font-family: $font-barlow;
    font-weight: $fw600-barlow;
    color: $n-blue-very_dark-desaturated;
    flex-grow: 1;
  }

  &__person {
    padding: 1rem;
    font-family: $font-fraunces;
    font-weight: $fw900-fraunces;
  }

  &__role {
    color: $n-grayish_blue;
    font-family: $font-barlow;
    font-weight: $fw600-barlow;
  }
}

.img_showcase {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.link-container {
  border-radius: 70px;
  height: 1rem;
  width: 10rem;
  position: relative;
}

.link-container--red {
  background-color: rgba(254, 121, 103, 0.2);
}

.link-container--yellow {
  background-color: rgba(250, 212, 0, 0.2);
}

.link-container--yellow--active {
  background-color: $activeLink-yellow;
}

.link-container--red--active {
  background-color: $activeLink-red;
}

@media screen and (min-width: $tablet) {
  .testimonials {
    padding: 8rem 4rem;

    &__heading {
      font-size: 1.8rem;
      letter-spacing: 0.15rem;
    }
  }

  .card {
    font-size: 1.2rem;
  }

  .services {
    
    .infoBox {
        padding: 0 2rem;

        &__title {
          font-size: 2rem;
        }

        &__text {
          font-size: 1.2rem;
        }
    }
    
  }
  
  .service-info {
    text-align: center;
    padding: 4rem 1.5rem;
    align-items: center;
    justify-content: center;
    gap: 4rem;

    &__heading {
      font-size: 2.5rem;
      padding: 0;
    }

    &__text {
      font-size: 1.2rem;
    }

    &__link {
      font-size: 1.2rem;
    }

  }

  .img_showcase {
    grid-template-columns: repeat(2, 1fr);
  }

}

@media screen and (min-width: $desktop) {
  
  .testimonials {
    padding: 10rem 4rem;

    &__container {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  .card {
    &__img {
      width: 40%;
    }

    &__text {
      padding: 3rem 0;
    }
  }

}

@media screen and (min-width: $widescreen) {
  
  .img_showcase {
    grid-template-columns: repeat(4, 1fr);
  }

}